@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&family=Inter:wght@300;400;500;700;800&family=Montserrat:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import "reset.scss";

$ff: "bold";
$bgcolor: #050505;

body {
  background: $bgcolor;

}

.container {
  width: 1140px;
  margin: auto;

}

//HEADER
#header {
  .header {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;

    &__menu {
      margin-top: 30px;

      &--item {

        margin: 0 30px;
        justify-content: space-around;
        color: lemonchiffon;
      }


    }
  }
}

//HERO
#hero {
  .hero {
    &__them {
      font-weight: 400;
      font-size: 130px;
      line-height: 100px;
      /* identical to box height, or 71% */

      display: flex;
      align-items: center;

      color: #FFFFFF;
    }

    &__title {
      margin-top: 20px;
      font-weight: 500;
      font-size: 140px;
      line-height: 100px;


      color: #FF4900;
    }


    &__subtitle {
      margin-top: 30px;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      /* or 144% */


      color: #FFFFFF;
    }

    &__text {
      margin-top: 30px;
      font-weight: 600;
      font-size: 26px;
      line-height: 32px;
      /* identical to box height */


      color: #FFFFFF;

    }

    &__img {

      position: absolute;
      width: 768.53px;
      height: 377.57px;
      left: 559px;
      top: 250px;


      transform: rotate(-5.07deg);
    }

    &__button {
      &-right {
        margin-top: 100px;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        border: 3px solid #fa4c06;
        box-sizing: border-box;
        margin-bottom: 13%;

      }

      .hero2 {
        &--end {
          font-weight: bold;
          font-size: 14px;
          line-height: 26px;
          display: flex;
          align-items: center;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #FFFFFF;

        }

      }


    }
  }

}


//HERO


//HERO2

#hero1 {
  .hero1 {
    &__text1 {
      font-weight: bold;
      font-size: 130px;
      line-height: 74px;
      padding-top: 60px;
      margin-left: 130px;
      color: #FF4900;

    }

    &__text2 {
      font-weight: bold;
      font-size: 130px;

      padding-top: 50px;
      margin-left: 140px;
      color: #FFFFFF;

    }

    &__alltext {

      justify-content: space-around;
      padding-top: 60px;
      display: flex;
      margin: 0 40px;
    }

  }
}


//HERO2


//HERO

#hero2 {
  .hero2 {
    padding-bottom: 400px;

    &__text3 {
      font-weight: bold;
      font-size: 10px;
      line-height: 26px;
      margin-top: 60px;
      display: flex;
      justify-content: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: #FFFFFF;


    }

    &__text4 {
      justify-content: center;
      font-weight: bold;
      font-size: 120px;
      line-height: 84px;

      display: flex;
      align-items: center;
      text-align: center;

      /* red */

      color: #FF4900;

    }

    &__text5 {
      padding-top: 40px;
      justify-content: center;
      font-weight: bold;
      font-size: 120px;
      line-height: 84px;
      /* identical to box height, or 70% */

      display: flex;
      align-items: center;
      text-align: center;

      color: #FFFFFF;
    }

    .hero2 {

      &__foto1 {

        padding-top: 30px;
        margin-top: 90px;
        position: absolute;
        width: 432px;
        height: 432px;
        left: 581.11px;


      }

      &__foto2 {
        position: absolute;
        padding-top: 1000px;
        margin-top: 90px;

        right: 0;
        width: 781.65px;
        height: 848.34px;
        left: 551px;
        top: 0;


      }

    }
  }
}


//HERO

//SECTION1

#hero3 {
  .hero3 {
    margin-bottom: 800px;
    display: flex;
    justify-content: space-around;
    padding-top: 0;

    &__text1 {

      font-weight: bold;
      font-size: 70px;
      line-height: 80%;

      display: flex;
      align-items: center;

      color: #FF4900;


    }

    &__text2 {
      font-weight: bold;
      font-size: 70px;
      line-height: 80%;
      /* identical to box height, or 56px */

      display: flex;
      align-items: center;

      color: #FFFFFF;


    }

    &__img1 {

      position: absolute;
      width: 589px;
      height: 332px;
      left: 155px;
      top: 2350px;
      display: flex;

    }

    &__img2 {
      margin: 0;
      position: absolute;
      width: 589px;
      height: 332px;
      right: 140px;
      top: 2350px;
      display: flex;
      justify-content: flex-start;

    }


  }
}


//SECTION1


// SECTION2


#hero4 {

  .hero4 {
    margin-bottom: 500px;
top: 0;


  &__text1{
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    /* identical to box height, or 186% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-left: 60px;


  }
  &__text2 {
    font-weight: 600;
    font-size: 120px;
display: flex;
padding-top: 20px;

    color: #e34505;
margin-left: 60px;
  }
  &__text3 {
    font-weight: 700;
    font-size: 120px;
    line-height: 84px;
    /* identical to box height, or 70% */
padding-top: 5px;
    margin-left: 60px;

    color: #FFFFFF;

  }
  &__text4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    padding-top: 60px;

    margin-left: 60px;

    color: #FFFFFF;

  }
    &__img1{
      position: absolute;
      width: 377px;
      height: 371px;
      left: 807.54px;
    top: 3150px;


      transform: rotate(-5deg);
    }
    &__text5{
      justify-content: space-around;
      font-size: 18px;
      /* or 144% */
padding-top: 110px;

      color: #FFFFFF;
display: flex;
    }
    &__text6{

      justify-content:flex-end;
      font-size: 18px;

      /* or 144% */
      display: flex;
padding-right: 30px;

      color: #FFFFFF;
    }
    &__text7{
      font-weight: 600;
      font-size: 18px;
      justify-content:flex-start;
display: flex;

padding-left: 30px;
      color: #FFFFFF;

    }

}

}

// SECTION2
// SECTION3

#hero5{
  .hero5{
    margin-bottom: 600px;
    &__text1 {
      font-weight: bold;
      font-size: 14px;
      line-height: 26px;
      /* identical to box height, or 186% */
margin-top: 40px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
      text-transform: uppercase;
justify-content: center;
      color: #FFFFFF;
    }
    &__text2{
      font-weight: bold;
      font-size: 120px;
      line-height: 84px;
      /* identical to box height, or 70% */

      text-align: center;

      /* white */
margin-top: 50px;
      color: #FFFFFF;
    }
    &__text3{
      font-weight: bold;
      font-size: 120px;
      line-height: 84px;
      /* identical to box height, or 70% */
margin-top: 50px;
      display: flex;
      align-items: center;
      text-align: center;
justify-content: center;
      /* red */

      color: #FF4900;

    }
    &__video {
      background: url("../img/video.png") no-repeat center/cover;
      position: absolute;
      width: 629px;
      height: 378px;
      left: 196px;
      top: 4478px;
    }
    &__video2 {
      position: absolute;
      width: 629px;
      height: 378px;
      left: 266px;
      top: 4478px;

    }
    &__text4 {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      /* or 144% */
margin-left: 1000px;
      color: #FFFFFF;
      padding-top: 40px;

    }
  }
}



// SECTION4
// SECTION5

#hero6 {
  .hero6{
    margin-bottom: 500px;

&__text1 {

  font-size: 14px;
  line-height: 26px;
  /* identical to box height, or 186% */
margin-left: 120px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #FFFFFF;


}
    &__text2 {
      font-weight: bold;
      font-size: 120px;
      line-height: 84px;
      /* identical to box height, or 70% */
      margin-left: 120px;
      display: flex;

      color: #FFFFFF;
    }
    &__text3 {
      font-weight: bold;
      font-size: 120px;
      line-height: 84px;
      /* identical to box height, or 70% */
      margin-left: 420px;
      display: flex;


      /* red */

      color: #FF4900;
    }



   &__text4 {

     font-weight: bold;
     font-size: 70px;
     line-height: 80%;
     /* identical to box height, or 56px */

     display: flex;

justify-content: flex-start;
     color: #FFFFFF;
margin-left: 70px;
   }
   &__text5 {
     font-weight: bold;
     font-size: 70px;
     line-height: 80%;
     /* identical to box height, or 56px */
justify-content: center;
     display: flex;


     color: #FFFFFF;

   }
   &__text6 {
     font-weight: bold;
     font-size: 70px;
     line-height: 80%;
     /* identical to box height, or 56px */
margin-right: 70px;
     display: flex;
justify-content: flex-end;

     color: #FFFFFF;

   }
 }
  }











// SECTION5
// SECTION6

#hero7 {

.hero7 {


  &__text1{
    font-weight: bold;
    font-size: 120px;
    line-height: 84px;
    /* identical to box height, or 70% */
margin-left: 60px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

  }
  &__text2 {
    font-weight: bold;
    font-size: 120px;
    line-height: 84px;
    /* identical to box height, or 70% */
margin-left: 600px;
    display: flex;
    align-items: center;

    /* red */

    color: #FF4900;
  }
  &__text3{
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */
margin-left: 300px;

    color: #FFFFFF;
  }
  &__img {
margin-left: 40px;

  }
  &__img2 {
    margin-left: 400px;
  }

}


}

















// SECTION6

























